# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.tbz2
*.tar.bz2

# Eclipse-generated build/project directories
DSP_API/Debug_Host
DSP_API/Release-musl
DSP_API/Release
